@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    font-family: 'VT323', monospace;
    background-color: black;
    color: white;
    border-radius: 20px;
}
nav .links {
    justify-content: center;
    display: flex;
    margin-right: 20px;

}
nav .links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav ul li {
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    list-style: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto','sans-serif';
}
.box {
    border: 1px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(192, 192, 192);
}

.gameInfo {
    font-family: 'Baloo Bhaina 2', cursive;
    padding: 0 34px;
}

.imgBox {
    display: none;
}

.infoDiv  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.infoDiv button  {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.br-l {
    border-left: 0;
}
.br-r {
    border-right: 0;
}
.br-t {
    border-top: 0;
}
.br-b {
    border-bottom: 0;
}

/* CSS for mobile phones with a screen width of 375px */
@media only screen and (min-device-width: 360px) and (max-device-width: 812px) {
    /* Your CSS rules specific to the targeted mobile phone */
    /* For example: */
    nav .links {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    .gameContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3,10vw);
        height: 200px;
        grid-template-rows: repeat(3,10vw);
        font-family: 'Roboto','sans-serif';
        justify-content: center;
    }
    .gameInfo {
        font-family: 'Baloo Bhaina 2', cursive;
        padding: 0 34px;
        text-align: center;
    }
    
    
    
    
  }